.header{
    text-align: center;
}
.menu-container{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
.menu-item:not(:last-child){
    margin-right: 2%;
}
.menu-item img{
    width:350px;
    display: flex;
}

.order-tracker{
    text-align: center;
}

.order-table{
    margin-top: 3%;
    display:flex;
    justify-content: space-around;
}