<h1 class="header">Food is Bae :*</h1>
<ul class="menu-container">
    <li class="menu-item">
        <a href="/item/steak"><h2>Steak</h2></a>
        <img src="/images/steak.jpg" alt="steak">
    </li>
    <li class="menu-item">
        <a href="/item/falafel"><h2>Falafel</h2></a>
        <img src="/images/falafel.jpg" alt="falafel">
    </li>
    <li class="menu-item">
        <a href="/item/waffels"><h2>Waffels</h2></a>
        <img src="/images/waffels.jpg" alt="waffel">
    </li>
</ul>
{{outlet}}