<h1 class="header">Food is Bae :*</h1>
<ul class="menu-container">
    <li class="menu-item">
        <h2>Steak</h2>
        <img src="/images/steak.jpg" alt="steak">
    </li>
    <li class="menu-item">
        <h2>Falafel</h2>
        <img src="/images/falafel.jpg" alt="falafel">
    </li>
    <li class="menu-item">
        <h2>Waffels</h2>
        <img src="/images/waffels.jpg" alt="waffel">
    </li>
</ul>
{{outlet}}