<h1 class="header">Food is Bae :*</h1>
<ul class="menu-container">
    {{#each model as |item|}}
    <li class="menu-item">
        {{#link-to 'item' item.id}}{{item.name}}{{/link-to}}
        <img src='{{item.img}}' alt="steak">
    </li>
    {{/each}}
</ul>
{{outlet}}