<h1 class="header">Food is Bae :*</h1>
<ul class="menu-container">
    {{#each model as |item|}}
    <li class="menu-item">
        <a href="/item/{{item.id}}"><h2>{{item.name}}</h2></a>
        <img src='{{item.img}}' alt="steak">
    </li>
    {{/each}}
</ul>
{{outlet}}